@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Roboto:wght@400;500&display=swap');
@import "styles/reset";
@import "styles/helper";

body {
  background-color: #EEEEEE;
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
